---
name: Calendar of Events
---
<div class="c-ocean">
  <div class="c-ocean__wave"></div>
</div>
<section class="c-calendar">
  <div class="c-calendar__container o-grid o-width-limiter o-width-limiter--sm">
    <h3 class="c-calendar__title o-grid__full">Calendar of Events</h3>
    {{#with (data 'calendar-of-events')}}
      {{#each calendar-event }}
        <div class="c-calendar__list o-grid__full o-grid__quarter@md">
          <h4 class="c-calendar__event">{{ event }}</h4>
          {{#if date }}
            <p class="c-calendar__date">{{ date }}</p>
          {{/if}}
          {{#if street }}
            <p class="c-calendar__street">{{ street }}</p>
          {{/if}}
          {{#if citystate }}
            <p class="c-calendar__citystate">{{ citystate }}</p>
          {{/if}}
          {{#if location }}
            <p class="c-calendar__location">{{ location }}</p>
          {{/if}}
          {{#if location }}
            {{#if booth }}
              <span>&#x2022;</span>
            {{/if}}
          {{/if}}
          {{#if booth }}
            <p class="c-calendar__booth">{{ booth }}</p>
          {{/if}}
          {{#if website }}
            <p class="c-calendar__website"><a class="c-link c-link--alternate" href="https://{{ website }}">{{ website }}</a></p>
          {{/if}}
        </div>
      {{/each}}
    {{/with}}

    <div class="c-calendar__ame-grouping o-grid__full o-grid__half@lg">
      <div class="c-calendar__caption">
        {{> patterns.components.defaults.caption letter="E" letterModifier="c-caption__letter--soft-grey" caption="is for floppy-eared elephants and educational play" }}
      </div>
      <div class="c-calendar__animal">
        {{> patterns.components.animals.elephant }}
      </div>
      <div class="c-calendar__alphabet-letter">E</div>
    </div>
  </div>
</section>