---
name: Where to Buy
---

<section id="whereToBuy" class="c-where">
  <div class="c-where__container o-grid o-width-limiter o-width-limiter--sm">
    <h2 class="c-where__title o-grid__full">Where to Buy</h2>
    {{#with (data 'where-to-buy')}}
      {{#each place }}
        <div class="o-grid__full">
          <h3>{{ where }}</h3>
          {{#each location }}
          <div class="c-where__boutique-block">
            <h4 class="c-where__name">{{ boutique }}</h4>
            {{#if street }}
              <p class="c-where__street-address">{{ street }}</p>
            {{/if}}
            {{#if citystate }}
              <p class="c-where__city-state">{{ citystate }}</p>
            {{/if}}
            {{#if website }}
              <p class="c-where__website">{{ website }}</p>
            {{/if}}
            {{#if phone }}
              <p class="c-where__phone">{{ phone }}</p>
            {{/if}}
            <div class="c-where__products">
              {{#if productA }}
                <span>{{ productA }}</span>
              {{/if}}
              {{#if productB}}
                <span>{{ productB }}</span>
              {{/if}}
            </div>
          </div>
          {{/each}}
        </div>
      {{/each}}
    {{/with}}
  </div>
</section>